/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require bootstrap.min
 */

@import "bootstrap.css";
@import "bootstrap.min.css";

$brown: #352719;
$light_brown: #C3AE99;

*{
    padding: 0px;
    margin: 0px;
}

.navbar-wrapper {
  position: relative;
  top: 0;
  right: 0;
  left: -30px;
  z-index: 20;
  margin-top: 20px;


    .container {
     padding-right: 0;
     padding-left: 0;
    }
    
    .navbar {
    padding-right: 15px;
    padding-left: 15px;
    background: $brown;
    border-radius: 4px;
    
        .container {
        width: auto;
        }
    }
    
    .container {
    padding-right: 15px;
    padding-left: 15px;
    }
}

html{
    background-image: url(classy_fabric.png);
}

body{
    margin-top: 20px;
    border-radius: 4px;
}

footer{
    padding-top: 30px;
}

.pagination{
    padding-top: 30px;
    display: block;
    clear: both;
}

.search-bar{
    float: right;
}

.search-button{
    height: 34px;
}

footer{
    display: block;
    clear: both;
}