/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require bootstrap.min
 */

@import "bootstrap";


/* Special class on .container surrounding .navbar, used for positioning it into place. */
.navbar-wrapper {
  position: relative;
  top: 0;
  right: 0;
  left: -30px;
  z-index: 20;
}

/* Flip around the padding for proper display in narrow viewports */
.navbar-wrapper > .container {
  padding-right: 0;
  padding-left: 0;
}
.navbar-wrapper .navbar {
  padding-right: 15px;
  padding-left: 15px;
}
.navbar-wrapper .navbar .container {
  width: auto;
}

.navbar-wrapper {
  margin-top: 20px;
}
.navbar-wrapper .container {
  padding-right: 15px;
  padding-left: 15px;
}
.navbar-wrapper .navbar {
  padding-right: 0;
  padding-left: 0;
}

.navbar-wrapper .navbar {
  border-radius: 4px;
}

html{
    background-image: url(classy_fabric.png);
}

body{
    margin-top: 20px;
    border-radius: 4px;
}

.paginatiion_div{
    display: block;
    clear: both;
}